<div class="container medium-top-margin">
  <h3> Businesses </h3>
  <div class="row">
    <% @businesses.each do |business| %>
      <div class="col s3">
        <div class="card">
          <div class="card-image robo-bus">
            <img src="https://robohash.org/<%= business.name %>.png">
          </div>
          <div class="card-content">
            <p>Location: <%= business.location %><br>
            Bio: <%= business.bio %></p>
          </div>
          <div class="card-action">
            <%= link_to business.name, business_path(business) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
