<div class="container top-margin">
  <h3><%= @business.name %></h3>
  <p>
    <%= @business.location %>
  </p>
  <p>
    <%= @business.bio %>
  </p>
  <%= button_to "Photos", business_photos_path(@business.id), method: :get %>
</div>
