.parallax-container
  .parallax
    %img{ src: "http://www.thediyhunter.com/images/journal/2013/trail-cams/panorama-mountains-l.jpg" }

.section.white
  .row.container
    %h1.header.amber-text= @trip.name
    %p.grey-text.text-darken-3.lighten-3= @trip.description

.parallax-container
  .parallax
    %img{ src: "http://i30.photobucket.com/albums/c321/Seoul-Brother/VolvoXC70%20Traveling/PanoramicGardenoftheGods.jpg" }

.section.white
  .row.container
    %p.grey-text.text-darken-3.lighten-3= @trip.info

.center-align#return-to-trips
  = link_to "Return to Trips", city_trips_path(@trip.city), class: "btn waves-effect waves-light amber"
