<div class="parallax-container">
    <div class="parallax"><img src="http://www.thediyhunter.com/images/journal/2013/trail-cams/panorama-mountains-l.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h1 class="header amber-text"><%= "#{@trip.name}" %></h1>
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@trip.description}" %></p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://i30.photobucket.com/albums/c321/Seoul-Brother/VolvoXC70%20Traveling/PanoramicGardenoftheGods.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@trip.info}" %></p>
    </div>
  </div>
  <div class="center-align" id="return-to-trips">
    <a href="<%= city_trips_path(@trip.city) %>"class="btn waves-effect waves-light amber">Return to Trips</a>
  </div>
</div>
