<div class="container top-margin">
  <table class="highlight bordered">
    <thead>
      <tr>
          <th data-field="id">Name</th>
          <th data-field="business">Business</th>
          <th data-field="price">Price</th>
          <th data-field="size">Size</th>
          <th data-field="subtotal">Subtotal</th>
          <th data-field="edit/delete">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>
        <td><%= photo.business_id %></td>
        <td><%= photo.price %></td>
        <td><%= photo.size %></td>
        <td>$0.87</td>
        <td>$0.87</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
