<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="blue text">Greetings from Stock Photos, <%= @user.first_name %>!</h1>
    <p>Thanks for the order!</p><br>
    <%= link_to "Your Order", "http://stock-photos.herokuapp.com/orders/#{@order.id}" %>
    <p>We at Stock Photos are constantly looking to add more talented photographers to our site.  Please feel free to fill out a new business photo if you would like to contribute your work to thousands of people worldwide.</p>
    <br><br>
    <h5 class="green text">Jill, Jerrod, and Ross</h5>
  </body>
</html>
