<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Stalk Photos, <%= @user.first_name %></h1>
    <p>Thanks for the order!</p>
    <%= link_to "Your Order", "http://localhost:3000/orders/#{@order.id}" %>
  </body>
</html>
