%h1.center.amber-text Admin Dashboard

.container
  %h3.left-align.amber-text Order Totals by Status:
  = render partial: "filter"
.orders.container
  = render partial: "orders_table"

%h3 Trips and Cities
= link_to "View All Trips", admin_trips_path
= link_to "Select or Create New City", admin_cities_path
