%h1.center.amber-text Admin Dashboard

.container
  %h3.left-align.amber-text Order Totals by Status:
  = render partial: "filter"
.orders.container
  = render partial: "orders_table"

.container
  %h3.left-align.amber-text Trips and Cities
  = link_to "View All Trips",
            admin_trips_path,
            class: "btn waves-effect waves-light amber"
  %br
  %br
  = link_to "View All Cities",
            admin_cities_path,
            class: "btn waves-effect waves-light amber"
