<div class="parallax-container">
<!-- .parallax-container -->
  <div class="parallax"><img src="https://www.rockymtnrefl.com/McClurePassPanoramacd4106108.jpg"></div>
  <!-- .parallax -->
    <!-- %img{ src: "https://www.rockymtnrefl.com/McClurePassPanoramacd4106108.jpg" } -->
  </div>
  <div class="section white">
  <!-- .section.white -->
    <div class="row container">
    <!-- .row.container -->
      <h1 class="header amber-text"><%= "#{@city.name}" %></h1>
      <!-- %h1.header.amber-text= @city.name -->
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@city.short_d}" %></p>
      <!-- %p.grey-text.text-darken-3.lighten-3= @city.short_d -->
    </div>
  </div>
  <div class="parallax-container">
  <!-- .parallax-container -->
    <div class="parallax"><img src="http://www.steamboatchamber.com/media/507044/Hike.jpg"></div>
    <!-- .parallax -->
      <!-- %img{ src: "http://www.steamboatchamber.com/media/507044/Hike.jpg" } -->
  </div>
  <div class="section white">
  <!-- .section.white -->
    <div class="row container">
    <!-- .row.container -->
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@city.long_d}" %></p>
      <!-- %p.grey-text.text-darken-3.lighten-3= @city.long_d -->
    </div>
  </div>
  <div class="center-align" id="return-to-cities">
  <!-- .center-align#return-to-cities -->
    <a href="<%= cities_path %>"class="btn waves-effect waves-light amber">Return to Cities</a>
    <!-- = link_to "Return to Cities", cities_path, class: "btn waves-effect waves-light amber" -->
  </div>
</div>
