<% flash.each do |type, msg| %>
<%= content_tag :p, sanitize(msg), class: 'hidden' %>
<div class="flash_<%= type %>">
  <script type="text/javascript">
    Materialize.toast('<%= sanitize(msg) %>', 5000, 'rounded <%= "flash_#{type}" %>');
  </script>
</div>
<% end %>
