.order.container
  %h2.center-align= "Order ##{@order.id}"
  .order-details
    %h4 Order Details:
    = render partial: "order_details"
  .trips
    %h4 Order Trips:
    = render partial: "order_trips"
