.container
  .medium-top-margin
    .row
      .col.s4
        .card.extra-card-room
          .card-image.avatar
            %img{ src: "https://avatars2.githubusercontent.com/u/11321261?v=3&s=460",
                  width: "100px" }
            %span.card-title Jill Donohue

          .card-content
            %p
              Upon graduation from the University of South Carolina, Jill bought a one way ticket to Colorado with no job or a place to live- that was three years ago. Living the ski bum life in Vail for two years has Jill trading her sundresses and cowboy boots in for beanies and flannel.  Jill's perfect day would be spent frolicking in the mountains, getting her heart rate up on a good hike, and ending the day with a good beer and even better friends.

      .col.s4
        .card.extra-card-room
          .card-image.avatar
            %img{ src: "https://avatars1.githubusercontent.com/u/11775628?v=3&s=460",
                  width: "100px" }
            %span.card-title Ross Edfort

          .card-content
            %p
              Ross comes from the best state in the country; New Jersey. Some say Ross was born with hair on his chest and a beer in his hand. At a young age he picked up the miraculous sport of diving, and traveled to Denver, Colorado to pursue his passion as a Division I Athete for the University of Denver. Now Ross attends The Turing School for Software & Design in hopes of becoming a full-stack web developer

      .col.s4
        .card.extra-card-room
          .card-image.avatar
            %img{ src: "https://avatars0.githubusercontent.com/u/12161598?v=3&s=400",
                  width: "100px" }
            %span.card-title Jerrod Junker

          .card-content
            %p
              This pond is unsafe ヽ༼ຈل͜ຈ༽ﾉ 
