.container
  %h1.center-align
  .slider.fullscreen
    %ul.slides
      %li
        %img{ src:"http://www.mikebartonphoto.com/images/large/FlatironsWinterFence1.jpg" }
        .caption.center-align.white-text
          %h1.light.amber.lighten-1  We are coloRIDEo.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get

      %li
        %img{ src:"https://www.rockymtnrefl.com/LastDollarRoadcd30249.jpg" }
        .caption.left-align.white-text
          %h2.light.amber.lighten-1 Find your new happy place.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get

      %li
        %img{ src:"http://cdn.cstatic.net/images/gridfs/55880852f92ea1418d001adb/Liam-Doran-2759-e1415662514954.jpg" }
        .caption.right-align.white-text
          %h2.light.amber.lighten-1 ...... We will help you find it on bike.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get
