%container
%h2.center-align
.slider.medium-top-margin
  %ul.slides
    %li
      %img{ src:"https://static.pexels.com/photos/527/man-person-people-train.jpg" }
      .caption.center-align.white-text
        %h2.lighten-1 We are Stalk Photos...
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue blue", method: :get

    %li
      %img{ src:"https://static.pexels.com/photos/1429/cold-nature-people-walking.jpg" }
      .caption.center-align.white-text
        %h2.light.lighten-1 Great photos - low price
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue", method: :get

    %li
      %img{ src:"https://static.pexels.com/photos/277/man-people-art-taking-photo.jpg" }
      .caption.center-align.white-text
        %h2.light.lighten-1 Click below to get started
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue", method: :get

%br
%br
%container
  %blockquote
    Stock photos.  We have seen them all - the ok, the horrific, and the downright wrong.  Never fear as days of chortling coworkers, nauseantingly happy couples, and freakishly well-behaved babies are gone.
