.container
  %h1.center-align
  .slider.fullscreen
    %ul.slides
      %li
        %img{ src:"http://www.mikebartonphoto.com/images/large/FlatironsWinterFence1.jpg" }
        .caption.center-align.black-text
          %h3 We are coloRIDEOo.
          %h5.light.grey-text.text-lighten-3 We want to take you for a ride.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "waves-effect waves-light btn-large", method: :get

      %li
        %img{ src:"http://telluridegreenroom.com/wp-content/uploads/2015/01/859993_10152532573810123_3213936_o.jpg" }
        .caption.left-align
          %h3 We are coloRIDEo.
          %h5.light.grey-text.text-lighten-3 And we want to take you for a ride....
        .center-align
          = link_to 'Start Your Adventure', cities_path, class: "waves-effect waves-light btn-large", method: :get

      %li
        %img{ src:"https://vail.blacktieskis.com/wp-content/uploads/2014/07/vail1.jpg" }
        .caption.right-align
          %h3 Right Aligned Caption
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
        .center-align
          = link_to 'Start Your Adventure', cities_path, class: "waves-effect waves-light btn-large", method: :get

      %li
        %img{ src: "http://cdn.colorado.com/sites/default/master/files/styles/media-player-large/public/MtnBike1_Fruita_MI.jpg?itok=3W2QevFH" }
        .caption.center-align
          %h3 This is our big Tagline!
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
        .center-align
          = link_to 'Start Your Adventure', cities_path, class: "waves-effect waves-light btn-large", method: :get

  %h5#tagline.center-align Explore the Rockies...as a Local.

  %br
