%h1.center-align
.slider.medium-top-margin
  %ul.slides
    %li
      %img{ src:"https://static.pexels.com/photos/527/man-person-people-train.jpg" }
      .caption.center-align.white-text
        %h1.lighten-1 We are Stalk Photos...
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue blue", method: :get

    %li
      %img{ src:"https://static.pexels.com/photos/1429/cold-nature-people-walking.jpg" }
      .caption.center-align.white-text
        %h1.light.lighten-1 Great photos - low price
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue", method: :get

    %li
      %img{ src:"https://static.pexels.com/photos/277/man-people-art-taking-photo.jpg" }
      .caption.center-align.white-text
        %h1.light.lighten-1 Click below to get started
        %br
        .center-align
          = button_to 'Begin Your Search', businesses_path, class: "btn blue", method: :get
