.container
  %h1.center-align
  .slider.fullscreen
    %ul.slides
      %li
        %img{ src:"https://c2.staticflickr.com/6/5548/9035279013_10f53195aa_b.jpg" }
        .caption.center-align.white-text
          .container
            %h1.amber.lighten-1 We are coloRIDEo.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get

      %li
        %img{ src:"http://jamescarl.us/assets/img/slider/3.jpg" }
        .caption.left-align.white-text
          .container
            %h2.light.amber.lighten-1 Find your new happy place.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get

      %li
        %img{ src:"http://cdn.cstatic.net/images/gridfs/55880852f92ea1418d001adb/Liam-Doran-2759-e1415662514954.jpg" }
        .caption.right-align.white-text
          .container
            %h2.light.amber.lighten-1 ...We will help you find it on bike.
          %br
          %br
          .center-align
            = link_to 'Start Your Adventure', cities_path, class: "btn waves-effect waves-light amber", method: :get
