.container
  %h1.center-align ColoRideo

  %h5#tagline.center-align Explore the Rockies...as a Local.

  %br

  .center-align
    = link_to 'Start Your Adventure', cities_path, class: "waves-effect waves-light btn-large", method: :get

  .about-us
    .row
      %h3 About Us
      .card
        .card-content
          %p
            Description goes here
