%h2.center-align.medium-top-margin My Orders

.container
  %table.orders.highlight.centered
    %thead
      %tr
        %th
          Order Number
        %th
          Status
        %th
          Order Date
        %th
          Total Cost
          - if current_admin? 
            %th
              Cancel?
    %tbody
      - @orders.each do |order|
        = render partial: "order", locals: { order: order }
