%h1.center_align My Orders:

- @orders.each do |order|
  = link_to "Order #{order.id}", order_path(order)
  = order.total

-# - order.trips.each do |trip|
-#   = trip.name
-#   = trip.description
-#   = trip.price
-#   = trip.image_path
