.container
  %h1.center-align.amber-text Order

  - @order.trips.each do |order_trip|
    = render partial: "order_trip", locals: { order_trip: order_trip }
    
  %p.right-align.container= "Total: $#{@order.total}"
