%ul.center-align
  = link_to "Return to Dashboard", admin_dashboard_path

%h1.center-align All Trips

.container.center-algin
  %table
    %thead
      %tr
        %th
        %th Name
        %th Status
        %th Edit?
        %th Retire?
    %tbody
      - @trips.each do |trip|
        = render partial: "trip", locals: { trip: trip }
