%h1.center-align List of Available Cities

.center-align
  %br
  = link_to "Create a City",
            new_admin_city_path,
            class: "btn waves-effect waves-light amber"
  %br
.container
  %table
    %thead
      %tr
        %th Name
        %th.right-align Create
    %tbody
      - @cities.each do |city|
        %tr
          %td
            = link_to "#{city.name}", city_path(city)
          %td.right-align
            = link_to "Create Trip", new_admin_city_trip_path(city)
