<div class="container center">
  <div class="large-top-margin">
      <h2>All Photos</h2>
  <div class="row photo-row">
    <% @photos.each do |photo| %>
      <div class="col s5 photo-cat-col" id="photo_<%= photo.id %>">
        <%= link_to image_tag(photo.image.url(:small)), business_photo_path(photo.business.slug, photo.slug) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
