<div class="container large-top-margin">
<h3>All Photos</h3>
<div class="row">
  <% @photos.each do |photo| %>
    <div class="col s3 photo-col" id="photo_<%= photo.id %>">
      <div class="photo-index">
        <%= image_tag photo.image.url(:small) %>
      </div>
      <div class="photo-text">
        <p>
          <%= link_to photo.name, business_photo_path(photo.business.id, photo.id) %>
        </p>
        <p>
          <%= photo.description %>
        </p>
        <p>
          Price:
        </p>
      </div>
      <% end %>
  </div>
</div>
