<div class="container large-top-margin">
  <div class="row">
    <div class="col s7">
      <img class="materialboxed" data-caption="<%= @photo.description %>" width="650" src="https://s3-us-west-2.amazonaws.com/pivotphotos/<%= @photo.image_file_name %>.jpg">
    </div>
    <div class="col s4">
      <h4> <%= @photo.name %> </h4>
      <p> <%= @photo.description %> </p>
    </div>
  </div>
</div>
