<div class="container large-top-margin">
  <h1> Checkout this photo! </h1>

  <h3> <%= @photo.name %> </h3>
  <img class="materialboxed" data-caption="Ross's baby pic" width="650" src="http://jlcauvin.com/wp-content/uploads/2013/03/bearded_baby.jpg">
</div>
