%h1.center-align Choose Your Adventure

.container
  - @cities.each do |city|
    .row
      %div{class: "col s8 offset-s2"}
        .card.center-align
          .card-image
            %img{src:"#{city.image_path}"}
          -# .card-content
          -#   %p
          -#     = "Here's where a description about #{city.name} goes."
          .card-action
            = link_to "#{city.name}", city_path(city)
