%h1 Choose Your Adventure

.container
  - @cities.each do |city|
    .row
      %div{class: "col s12 m7"}
        .card
          .card-image
            %img{src:"images/sample-1.jpg"}

          .card-content
            %p
              = "Here's where a description about #{city.name} goes."
          .card-action
            = link_to "#{city.name}", city_path(city)
