.container
  %h1.center-align= #{@city.name} Tour

  %h4.center-align Categories
  %br
  .container
    - @city.categories.each do |category|
      .row
        %div{class: "col s8 offset-s2"}
          .card.center-align
            .card-action
              = link_to category.name, city_category_path(@city.id, category.id)
