<div class="parallax-container">
    <div class="parallax"><img src="https://www.rockymtnrefl.com/McClurePassPanoramacd4106108.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h1 class="header amber-text"><%= "#{@city.name}" %></h1>
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@city.short_d}" %></p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://www.steamboatchamber.com/media/507044/Hike.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <p class="grey-text text-darken-3 lighten-3"><%= "#{@city.long_d}" %></p>
    </div>
  </div>
  <div class="center-align" id="return-to-cities">
    <a href="<%= cities_path %>"class="btn waves-effect waves-light amber">Return to Cities</a>
  </div>
</div>
