@import "materialize/components/color";
$primary-color: color("grey", "darken-1") !default;
@import 'materialize';
html {
    font-family:'Pacifico', cursive;
  }

p {
  font-family:'Josefin Sans', sans-serif;
}
.nav-wrapper {
  font-family: 'Josefin Sans' sans-serif;
}
.page-footer {
  font-family: 'Josefin Sans' sans-serif;
}
