.card {
  display: inline;
  height: 750px;
}

.card-image {
  size: inherit;
}

.card .card-title {
  font-size: 12px;
}

.card .card-content p {
  font-size: 12px;
  padding: 0px;
}

.card-action {
  font-family: 'Exo 2', sans-serif;
}

.card-action a {
  font-size: 16px;
}

.card-container {
  min-height: 400px;
  border: 1px solid #808080;
  margin-bottom: 10px;
}
