%h1.center-align.amber-text My Trips

.container
  = render partial: "cart"
  - unless @cart.contents.empty?
    .right-align
      = link_to "Checkout", orders_path,
                method: :post, 
                class: "btn waves-effect waves-light red"
