%h1.center-align.amber-text My Trips

.container#cart
  = render partial: "cart"
  - unless @cart.contents.empty?
    .right-align
      %p= "Total: $#{@cart.total_cost}"
      = link_to "Checkout", orders_path,
                method: :post,
                class: "btn waves-effect waves-light red"
